@model GlobalSolution.Web.Data.Entities.Employee

@{
    ViewData["Title"] = "Details";
}

<center>
    <h2>Details Employee</h2>
</center>


<h4>Personal Information</h4>
<table class="table" border="3">
    <thead>
        <tr>
            <th align="justify">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.User.Document)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.Document)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.User.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.User.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.User.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.User.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.PhoneNumber)
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="AddVehicle" asp-route-id="@Model.Id" class="btn btn-default">Add Vehicle</a>
                    <a asp-action="Index" class="btn btn-primary">Back</a>
                </div>
            </th>
        </tr>
    </thead>
</table>

<h4>Vehicles Served</h4>
<dl class="dl-horizontal">

    @if (Model.Vehicles.Count == 0)
    {
        <h5>Not Vehicles Add Yet.</h5>
    }
    else
    {
        <table class="table" border="3" align="center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Placa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Color)
                    </th>
                    <th>
                        Vehicle Photos
                    </th>
                    <th>
                        Orders
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Vehicles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehiclePhotos.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Orders.Count)
                        </td>
                        <td>
                            <a asp-action="EditVehicle" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="DetailsVehicle" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <button data-id="@item.Id"  asp-action="Index"    class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    }
</dl>
<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;

        	$('.deleteItem').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
        	});

        	$("#btnYesDelete").click(function () {
            	window.location.href = '/Employees/DeleteVehicle/' + item_to_delete;
        	});
    	});
    </script>
}

